<div id="login-form">
	<%= form_for(:session, url: login_path) do |f| %>

		<%= f.label :email %>
		<%= f.email_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>		

		<%= f.submit "LOG IN", id: "login-button" %>

	<% end %>

	<div id="login-new-user">
		<p>Not a member?</p>
		<p><%= link_to "SIGN UP", new_user_path %></p>
	</div>

</div>