<!DOCTYPE html>
<html>

  <head>
    <title><%="Dead in Bed | Part #{@part.part_number}: #{@part.title}"%></title> 
  </head>

  <body id="part_body">
    <div id="part_container">

      <div id="part_cover_div">
        <%= image_tag("DiB#{@part.part_number} cover.jpg", class: "part_cover") %>
      </div>  
    
      <div id="part_content_div">
        <%= raw @part.content %>

        <div id="end_links_div">
          <h2>Want to keep reading?</h2>
          <p>You can buy the ebook or audiobook at any<br>major online bookseller.</p>
          <a href="/books"><p class="end_links_button">BUY</p></a>
          <p>Or, read right here, right now, on the app.</p>

          <%= link_to post_path(first_post_of_part(@part.id)) do %>
            <p class="end_links_button">READ HERE</p>
          <% end %>

        </div>
        <div id="goodreads_div">
          <a href="https://www.goodreads.com/book/show/<%= @part.goodreads_id %>">
            <%= image_tag("goodreads icon.svg", width: "19px", class: "goodreads_icon") %>
            <p id="goodreads_label">add to goodreads</p>
          </a>
        </div>
      </div>

    </div>
  </body>

</html>
