
<h2>Newest Members</h2>
<h5><%= @active_user_count %> of us and counting</h5>

<ul id="members_list">
  <% @users.each do |user| %>
    <li>
      <div class="users_index_user_image"><%= user_image_for user %></div>
      <div class="users_index_user_name"><%= link_to user.user_name.gsub(/_/, ' '), user %></div>
      <div class="users_index_date">Member since <%= user.activated_at.strftime("%B #{user.activated_at.day.ordinalize}, %Y") %>
        <% if logged_in? && current_user.admin? && !current_user?(user) %>
        	<%= link_to "×", user, method: :delete, data: { confirm: "You sure you want to do this?" }%>
    		<% end %>
      </div>
    </li>
  <% end %>
</ul>