<h2 class="top_contributors_heading">TOP CONTRIBUTORS</h2>
<ol id="top_contributors_list">
  <% rank = 0 %>
  <% @top_ten_contributors_all_time.each do |commenter, count| %>
    <% if count > 0 %>
      <% rank += 1%>
      <li>
        <div class="rank">#<%=rank%></div>
        <%= user_image_for User.find_by_user_name(commenter)%>
        <div class="contributor_name"><%= link_to commenter.gsub(/_/, ' '), User.find_by_user_name(commenter) %></div>
        <%= image_tag("DiBC1 cover.jpg", alt: "Dead In Bed 1", class: "winner") if giveaway_winner(commenter) %>
        <div class="comment_count"><% if count > 1 %>comments<% else %>comment<% end %></div> 
        <div class="number"><%= count %></div>
        <div class="word_count"><%= total_words_commented(commenter)%></div>
      </li>
    <% end %>  
  <% end %>
</ol>