
<h2 class="top_contributors_heading">TOP CONTRIBUTORS</h2>

<% if logged_in? && current_user.admin? %>
  <h4 class="facebook_share_total"><%=User.facebook_share_count%> TOTAL SHARES</h4>
<% end %>  

<ol id="top_contributors_list">
  <% rank = 0 %>
  <% @top_ten_contributors_all_time.each do |name, participation| %>
    <% if participation[:shares] > 0 || participation[:comments] > 0 %>
      <% rank += 1%>
      <li>
        <div class="rank">#<%=rank%></div>
        <%= user_image_for User.find_by_user_name(name)%>
        <div class="contributor_name"><%= link_to name.gsub(/_/, ' '), User.find_by_user_name(name) %></div>
        <%= image_tag("DiBC1 cover.jpg", alt: "Dead In Bed 1", class: "winner") if giveaway_winner(name) %>
        <div class="share_count"><% if participation[:shares] == 1 %>share<% else %>shares<% end %></div> 
        <div class="number"><%= participation[:shares] %></div>
        <div class="comment_count"><span class="comment_count_number"><%= participation[:comments]%></span>&nbsp;&nbsp;comments</div>
      </li>
    <% end %>  
  <% end %>
</ol>
