<% @comments.each do |comment| %>

	<div id="profile_comment_feed_item_div">
		<li id="comment-<%= comment.id %>">

		  <div id="profile_comment_feed_item_user_image">
		  	<%= link_to user_image_for(comment.user), comment.user %>
		  </div>

		  <div id="profile_comment_feed_item_comment_header">
			  <span id="profile_comment_feed_item_post_name">
			  	<% if comment.post_id == 1 %> 
			  		<%= link_to Post.find(comment.post_id).title, posts_path %>
			  	<% else %>
			  		<%= link_to Post.find(comment.post_id).title, Post.find(comment.post_id) %>
			  	<% end %>
				</span>
			  <span id="profile_comment_feed_item_timestamp">
			  	<%= time_ago_in_words(comment.date) %> ago	
			    <% if logged_in? && ( current_user?(comment.user) || current_user.admin? ) %>
			    	<span id="profile_comment_feed_item_delete_x"><%= link_to "✕", comment, method: :delete, data: { confirm: "You sure you want to delete that comment?" } %></span>
			    <% end %>
			  </span>
		  </div>

		  <div id="profile_comment_feed_item_content">
		  	<%= raw (comment.content.gsub(/\n/,"<br>")) %>
		  </div>

		</li>
	</div>

<% end %>