<h1>Update Your Settings</h1>

<div id="user-edit-gravatar">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank">change image</a>
</div>

<div id="user-edit-form">
	<%= form_for(@user) do |f| %>

	  <%= render 'shared/error_messages' %>

		<%= f.label :user_name, "Update User Name: " %>
		<%= f.text_field :user_name, autofocus: true %> 
		
		<%= f.label :email, "Update Email: " %> 
		<%= f.email_field :email %>
			
		<%= f.label :password, "Change Password: " %>
		<%= f.password_field :password %>
			
		<%= f.label :password_confirmation, "Confirm New Password: " %> 
		<%= f.password_field :password_confirmation %>

	  <%= f.submit "SAVE CHANGES", id: "user-edit-save-button" %>

	<% end %>	
</div>
