<head>
  <title>Bailey Simms | <%=@user.user_name.gsub(/_/, ' ')%> | Settings</title>  
</head>

<div id="settings_container">

	<h1>SETTINGS</h1>

	<div id="user_edit_image_div">
	 	<%= user_image_for(@user) %>

    <div id="fb_connection_div">
	    <% if @user == current_user && !current_user.is_connected_to_facebook %>
	      <p><%= link_to "change to your Facebook profile picture", "/auth/facebook", id: "fb_connect" %></p>
	      <p><a href="http://gravatar.com/emails" target="_blank">use Gravatar to change your profile picture</a></p>
	    <% elsif @user == current_user && current_user.is_connected_to_facebook %>
	      <p>You're currently using a Facebook connection for your profile picture.</p>
	      <p><%= link_to "disconnect from Facebook to change your image", fb_disconnect_path, id: "fb_disconnect" %></p>
	    <% end %>
  	</div>
	</div>

	<div class="form">
		<%= form_for(@user) do |f| %>

		  <%= render 'shared/error_messages', object: f.object %>	

			<%= f.label :user_name, "Update Your User Name" %>
			<%= f.text_field :user_name, autofocus: true %> 

			<%= f.submit "SAVE CHANGES", class: "form-button" %>

			
			<%= f.label :email, "Update Your Email" %> 
			<%= f.email_field :email %>

			<%= f.submit "SAVE CHANGES", class: "form-button" %>

				
			<%= f.label :password, "Change Your Password" %>
			<%= f.password_field :password %>
				
			<%= f.label :password_confirmation, "Confirm Your New Password" %> 
			<%= f.password_field :password_confirmation %>

		  <%= f.submit "SAVE CHANGES", class: "form-button" %>

		<% end %>	
		</div>	
	</div>
</div>
