<head>
  <title>Dead in Bed | Community</title>  
</head>

<body id="community_body">

<div id="community_container">

  <h1>Community</h1>

  <div class="members_div web_view">
    <%= render 'members' %>
  </div> 


  <div id="top_contributors_all_time_div" class="top_contributors_div">
    <%= render 'top_contributors_all_time' %>
  </div> 

  <div id="top_contributors_this_month_div" class="top_contributors_div secondary">
    <%= render 'top_contributors_this_month' %>
  </div> 

  <div id="top_contributors_last_month_div" class="top_contributors_div secondary">
    <%= render 'top_contributors_last_month' %>
  </div> 


  <div class="members_div tablet_view">
    <%= render 'members' %>
  </div> 


  <div id="recent_comments_div">   
    <%= render 'recent_comments' %>
  </div>  

  <div class="members_div mobile_view">
    <%= render 'members' %>
  </div> 

</div>

</body>

