<head>
  <title>Bailey Simms | Community</title>  
</head>

<%= render 'facebook_share' %>

<body id="community_body">

<div id="community_container">


  <div class="members_div web_view">
    <%= render 'members' %>
  </div> 


  <div id="top_contributors_all_time_div" class="top_contributors_div">
    <%= render 'top_contributors_all_time' %>
  </div> 

  <div id="top_contributors_this_month_div" class="top_contributors_div secondary">
    <%= render 'top_contributors_this_month' %>
  </div> 

  <div id="top_contributors_last_month_div" class="top_contributors_div secondary">
    <%= render 'top_contributors_last_month' %>
  </div> 


  <div class="members_div tablet_view">
    <%= render 'members' %>
  </div> 


  <div id="recent_comments_div">   
  <h2>RECENT COMMENTS</h2>
  <h4><i><%= Comment.count %> comments total so far</i></h4>
    <ol id="recent_comments_list">
      <%= render 'recent_comments' %>
    </ol>
  </div>  

  <div class="members_div mobile_view">
    <%= render 'members' %>
  </div> 

</div>

</body>

