<head>
  <title>Dead in Bed | Sign Up</title>  
</head>

<div id="form_container" class="short_form_container">

	<div class="form_header_div">
		<h1 class="form_header_left">Sign Up</h1>
		<p class="form_header_right">Already a member? <u><%= link_to "Log in", login_path %></u>.</p>
	</div>

	<div class="form_div">
		<%= form_for(@user) do |f| %>

			<%= render 'shared/error_messages', object: f.object %>	
			
			<%= f.text_field :user_name, autofocus: true, placeholder: "User Name", class: "form_field"  %> 
			
			<%= f.email_field :email, placeholder: "Email", class: "form_field" %>
				
			<%= f.password_field :password, placeholder: "Password", class: "form_field"  %>
				
			<%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form_field"  %>
			
			<%= f.submit "JOIN", class: "form_button_primary" %>
			
		<% end %>
	</div>

</div>

