<head>
  <title>Bailey Simms | <%=@user.user_name.gsub(/_/, ' ')%></title>  
</head>

<div style="text-align: center; color: darkblue", id="profile">
	<%= gravatar_for @user %>
	<h1><%= @user.user_name.gsub(/_/, ' ') %></h1>
	<h1><%= @user.email %></h1>
</div>

<div id="profile_comments_div">		
  <% if @user.comments.any? %>
    <h3>COMMENTS (<%= @user.comments.count %>)</h3>
    <ol class="profile_comments_list">
      <%= render @comments %>
    </ol>
  <% end %>
</div>					