<head>
  <title>Bailey Simms | <%=@user.user_name.gsub(/_/, ' ')%></title>  
</head>

<div id="profile_container">

	<div id="profile_feature_div">
		<%= gravatar_for @user %>
		<h1><%= @user.user_name.gsub(/_/, ' ') %></h1>
		<h4><%= @user.email if logged_in? && current_user.admin? %></h4>
	</div>

	<%= render 'admin_user' if logged_in? && current_user.admin? && @user.admin? %>

	<div id="profile_comments_div">		
	<h3>COMMENTS <%= @user.comments.any? ? ( "("+@user.comments.count.to_s+")" unless @user.admin?) : "(0)" %></h3>
	  <% if @user.comments.any? %>
	    <ol class="profile_comments_list">
		    <%= render 'user_comments' %>
	    </ol>
		<% else %>
			<p><i>Looks like you haven't commented yet. What's the deal? <u><%= link_to 'Start reading Bailey\'s blog ', posts_path %></u>and get on it!</i></p>
	  <% end %>
	</div>	

</div>				