<%= form_for(@comment) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <div id="comment_form">
  	<div id="user_image">
  		<%= link_to user_image_for(current_user), current_user %>
  	</div>
    <div id="form_field"><%= f.text_area :content, placeholder: "say something..." %>
	    <%= f.hidden_field :post_id, value: @post_id %>
	    <%= f.hidden_field :date, value: Time.now %>
    </div>
  	<%= f.submit "Post", class: "post_button", style: "vertical-align: bottom" %>
  </div>


<% end %>