<html>

  <head>
    <title>Bailey Simms</title>        
  </head>

  <body id="home_body">
    <div id="home_wrapper">

      <div id="home_feature_image">
        <%= image_tag("author-name-with-feather.png", alt: "Baily Simms", id: "home_name_with_feather_image") %>
      </div>

      <div id="home_index_nav">
        <ul>
          <li><%= link_to 'BLOG', posts_path %></li>
          <li><%= link_to 'BOOKS', ebooks_display_path %></li>
          <li><%= link_to 'ABOUT', about_path %></li>
          <li><%= link_to 'CONTACT', contact_path %></li>
          <!-- 'LOGIN' temporarily points to root_path; change after configuring login -->
          <li><%= link_to 'LOGIN', root_path %></li>
        </ul>
      </div>  

    </div>
  </body>

</html>

