<html>

  <head>
    <title>Bailey Simms</title>        
  </head>

  <body id="home_body">
    <div id="home_wrapper">

      <div id="home_feature_image">
        <%= image_tag("author-name-with-feather.png", alt: "Baily Simms", id: "home_name_with_feather_image") %>
      </div>

      <div id="home_index_nav">
        <ul>
          <li><%= link_to 'THE ORIGINAL BLOG', posts_path, class: "highlight" %></li>
          <li><%= link_to 'BOOKS', books_path %></li>
          <li><%= link_to 'ABOUT', about_path %></li>
          <li><%= mail_to'baileysimms96@yahoo.com', 'CONTACT' %></li>
          <% if logged_in? %>
            <li><%= link_to "PROFILE", current_user %></li>
            <li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to 'SIGN UP', new_user_path %></li>
            <li><%= link_to "LOG IN", login_path %></li>  
          <% end %>
        </ul>
      </div>  

    </div>
  </body>

</html>

