<head>
  <title>Bailey Simms | Books</title>  
</head>

<body id="books_body">
<div id="books_container">

    <div id="complete_first_book_image_container">
      <%= image_tag("DiBC1 cover.jpg", alt: "Complete First Book", class: "complete_first_book_image") %>
    </div> 

    <div id="complete_first_book_text_container">
      <p class="complete_first_book_text_container_heading"><i>DEAD IN BED, The Complete First Book</p>
      <ul class="complete_first_book_text_container_links"> 
        <li class="complete_first_book_text_container_links_amazon"><a href="https://www.amazon.com/DEAD-BED-Bailey-Simms-Complete-ebook/dp/B00I7UE2RW/ref=la_B00HI7AR9W_1_1_twi_kin_2?s=books&ie=UTF8&qid=1479685052&sr=1-1" class="books_page_button">Buy at Amazon</a></li>
        <li class="complete_first_book_text_container_links_goodreads"><a href="https://www.goodreads.com/book/show/26024978-dead-in-bed" class="books_page_button">Add to Goodreads</a></li>
      </ul>
    </div> 


    <div class="horizontal_line">
    </div>

    <div id="parts_container">
      <div class="books_page_part p1">
        <%= link_to image_tag("DiB1 cover.jpg", alt: "Part 1", height: "156px", class: "part_image1"), 'books/1/parts/1' %>
        <p class="read_now"><i>READ NOW</i></p>
      </div>

      <div class="books_page_part p2">
        <%= link_to image_tag("DiB2 cover.jpg", alt: "Part 2", class: "part_image"), 'books/1/parts/2' %>
        <p class="sample"><i>SAMPLE</i></p>
      </div>

      <div class="books_page_part p3">
        <%= link_to image_tag("DiB3 cover.jpg", alt: "Part 3", class: "part_image"), 'books/1/parts/3' %>
        <p class="sample"><i>SAMPLE</i></p>
      </div>

      <div class="books_page_part p4">
        <%= link_to image_tag("DiB4 cover.jpg", alt: "Part 4", class: "part_image"), 'books/1/parts/4' %>
        <p class="sample"><i>SAMPLE</i></p>
      </div>

      <div id="last_three">
        <div class="books_page_part p5">
          <%= link_to image_tag("DiB5 cover.jpg", alt: "Part 5", class: "part_image"), 'books/1/parts/5' %>
          <p class="sample"><i>SAMPLE</i></p>
        </div>

        <div class="books_page_part p6">
          <%= link_to image_tag("DiB6 cover.jpg", alt: "Part 6", class: "part_image"), 'books/1/parts/6' %>
          <p class="sample"><i>SAMPLE</i></p>
        </div>

        <div class="books_page_part p7">
          <%= link_to image_tag("DiB7 cover.jpg", alt: "Part 7", class: "part_image"), 'books/1/parts/7' %>
          <p class="sample"><i>SAMPLE</i></p>
        </div>
      </div>
    </div>


</div>




<div id="books_container">

    <div id="complete_first_book_image_container">
      <a href="https://www.amazon.com/Adrian-Birch/e/B00HI7AR9W/ref=dp_byline_cont_ebooks_1"></a>
      <%= image_tag("DiBC2 cover.jpg", alt: "Complete Second Book", class: "complete_first_book_image") %>
    </div> 

    <div id="complete_first_book_text_container">
      <p class="complete_first_book_text_container_heading"><i>DEAD IN BED, The Complete Second Book</i><br>is now available.</p>
      <ul class="complete_first_book_text_container_links"> 
        <li class="complete_first_book_text_container_links_amazon"><a href="https://www.amazon.com/Adrian-Birch/e/B00HI7AR9W/ref=dp_byline_cont_ebooks_1" class="books_page_button">Buy at Amazon</a></li>
        <li class="complete_first_book_text_container_links_goodreads"><a href="https://www.goodreads.com/author/show/7730191.Adrian_Birch" class="books_page_button">Add to Goodreads</a></li>
      </ul>
    </div> 


    <div class="horizontal_line">
    </div>

    <div id="parts_container">
      <div class="books_page_part">
        <%= image_tag("DiB8 cover.jpg", alt: "Part 8", class: "part_image") %>
      </div>

      <div class="books_page_part p2">
        <%= image_tag("DiB9 cover.jpg", alt: "Part 9", class: "part_image") %>
      </div>

      <div class="books_page_part p3">
        <%= image_tag("DiB10 cover.jpg", alt: "Part 10", class: "part_image") %>
      </div>

      <div class="books_page_part p4">
        <%= image_tag("DiB11 cover.jpg", alt: "Part 11", class: "part_image") %>
      </div>

      <div id="last_three">
        <div class="books_page_part p5">
          <%= image_tag("DiB12 cover.jpg", alt: "Part 12", class: "part_image") %>
        </div>

        <div class="books_page_part p6">
          <%= image_tag("DiB13 cover.jpg", alt: "Part 13", class: "part_image") %>
        </div>

        <div class="books_page_part p7">
          <%= image_tag("DiB14 cover.jpg", alt: "Part 14", class: "part_image") %>
        </div>
      </div>
    </div>


</div>



</body>


