<body id="blog_body">

  <div id="blog_page_container">


    <div id="blog_title_container">
      <h1>THE ORIGINAL BLOG</h1>
      <h5>Complete and Unedited</h5>
    </div>


      <div id="blog_posts_index_column">

        <div id="blog_posts_image">
          <% if @post.title =~ /DEAD IN BED/ && @post.title.slice(18,19).to_i < 9 %>
            <%= image_tag("DiB#{@post.title.split('')[18]} cover.jpg", alt: "Part #{@post.title.split('')[18]} Cover") %>
          <% else %>
            <%= image_tag("Bailey Simms pic.jpg", alt: "Bailey Simms", style: "border: solid 2px; border-radius: 50%; width: 135px;") %>
          <% end %>
        </div>

      	<ul>
      	<% @posts.each do |post| %>
          <% if post.id > 1 %>
            <% if post.id == params[:id].to_i %>
              <li class = "current_post">
            <% else %>
              <li>
            <% end %>
      	    	<%= link_to post do %>
      	    	<p id="date"><%= post.date.strftime("%-m.%-d.%Y %l:%M %p") %></p>
      	      <p id="title"><%= post.title %></p>
      	    	<% end %>
      	    </li>
          <% end %>
      	<% end %>
      	</ul>
      </div>

      <div id="blog_post">
        <% if @post.id == 1 %>
          <%= render 'posts/intro_statement' %>
        <% else %>

          <% if logged_in? && current_user.admin? %>
            <%= (link_to "edit |", edit_post_path(@post.id), class: "post_edit_delete_links")%>
            <%= (link_to " delete", @post,  class: "post_edit_delete_links", 
                                            method: :delete, 
                                            data: { confirm: "You sure you want to delete this post?" }) %>
          <% end %>  

          <h4><%= @post.date.strftime("%A, %B #{@post.date.day.ordinalize}, %Y. %l:%M %P.") %></h4>
          <h1><%= @post.title %></h1>
          <% if @post.visible_to_public || ( logged_in? && @post.visible_to_users ) || ( logged_in? && current_user.admin? ) %>
            <%= raw @post.content %>
            <div class="read_next_button">
              <%= ( link_to 'NEXT POST ➤', post_path(@post.id+1) ) if @post.id+1 <= Post.count %>
            </div>
          <% elsif !logged_in? && @post.visible_to_users %>
            <div id="login_request">
              <h3>Hi! You have to <u><%= link_to "log in", login_path %></u> to read this post.</h3><br>
              <h3>New user? <u><%= link_to "Sign up here", new_user_path %></u>.</h3><br><br><br>
              <h3 style="text-align:right">Thx!</h3>
              <h3 style="text-align:right">xxBailey</h3>
            </div>
          <% elsif !@post.visible_to_users %>
            <div id="no_access">
              <h3>Access to this post<br>is coming soon.</h3>
            </div>
          <% end %>

        <% end %>
      </div>


      <div id="blog_comments_container">
        <% if logged_in? && ( @post.visible_to_users || current_user.admin? ) %> 
          <%= render 'shared/comment_form' %>
          <%= render 'shared/feed' %>
        <% elsif !logged_in? && @post.visible_to_users %>
          <p id="blog_comments_login_request">
            <i>Please <u><%= link_to "log in", login_path %></u> to comment. New user? <u><%= link_to "Sign up", new_user_path %></u>.</i>
          </p>
          <%= render 'shared/feed' %>
        <% end %>   
      </div>

   </div> 

</body>