<head>
  <title>Bailey Simms | <%=@post.title%> | Edit</title>  
</head>


<div class="post_form_div">

	<h1 id="post_headline">Edit Post</h1>

	<div class="form" id="post_form">
		<%= form_for(@post) do |f| %>

		  <%= render 'shared/error_messages', object: f.object %>	

			<%= f.label :book_part, "Belongs to Part \#: " %><br>
			<%= f.text_field :book_part %><br>
			
			<%= f.label :title, "Title: " %><br>
			<%= f.text_field :title %><br>

			<%= f.label :date, "Date: " %><br>
			<%= f.datetime_field :date, value: @post.date.strftime("%A, %B #{@post.date.day.ordinalize}, %Y. %l:%M %P.") %><br>
				
			<%= f.label :content, "Content: " %><br>
			<%= f.text_area :content %><br>

			<div class="checkboxes">
				<%= f.check_box :visible_to_public %>
				<%= f.label :visible_to_public, "visible to public" %>
				<br>
				<%= f.check_box :visible_to_users %>
				<%= f.label :visible_to_users, "visible to users" %>
			</div>

		  <%= f.submit "SAVE CHANGES", class: "form_button" %>

		<% end %>	
	</div>

</div>
