	<header class="navbar navbar-fixed-top">

      <nav class="nav">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "BAILEY SIMMS", root_path, id: "logo" %></li>
        </ul>  
				<ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'BLOG', posts_path %></li>
          <li><%= link_to 'BOOKS', ebooks_display_path %></li>
          <li><%= link_to 'ABOUT', about_path %></li>
          <li><%= link_to 'CONTACT', contact_path %></li>
        <% if logged_in? %>
          <li><%= link_to "USERS", users_path %></li>
        	<li class="dropdown">
        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">ACCOUNT<b class="caret"></b></a>
        		<ul class="dropdown-menu">
        			<li><%= link_to "PROFILE", current_user %></li>
        			<li><%= link_to "SETTINGS", edit_user_path(current_user) %></li>
        			<li class="divider"></li>
        			<li><%= link_to "LOG OUT", logout_path, method: "delete" %></li>
        		</ul>
        	</li>
        <% else %>
        	<li><%= link_to "LOG IN", login_path %></li>	
        <% end %>

          <li><%= link_to 'SIGN UP', new_user_path %></li>
				</ul>

		</div>
	</header>	