<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.png' %>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Ropa+Sans:400,400italic|Linden+Hill:400,400italic|Special+Elite' rel='stylesheet' type='text/css'>

  <!-- Google Analytics -->
  <%= render 'layouts/analytics' %>

  <!-- Mobile Layout -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Facebook share open graph markup -->
  <meta property="og:url"           content="http://www.baileysimms.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Bailey Simms" />
  <meta property="og:description"   content="You've never, ever read anything like this..." />
  <meta property="og:image"         content="https://baileysimms.herokuapp.com/assets/author-name-with-feather-black-background-09efd0dd1de328c69dd8e322330927fc42547a3147aab02edaca28ab5fcd8f51.jpg" />
      
</head>


<body>

  <!--facebook SDK script-->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1115188781859441',
        xfbml      : true,
        version    : 'v2.5'
      });
    };
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

	<%= render 'layouts/header' unless @omit_header %>

	<div>
		<% flash.each do |message_type, message| %>
      <% message = raw message %>
    	<%= content_tag(:div, message, class: "flash-alert flash-alert-#{message_type}") %>
    <% end %>
	</div>

	<%= yield %>

  <%= render 'layouts/footer' unless @omit_footer %>

</body>


</html>
