<!DOCTYPE html>
<html>
<head>
  <title>Baileysimms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<%= render 'layouts/header' unless @omit_header_footer %>

		<div>

			<% flash.each do |message_type, message| %>
	    	<%= content_tag(:div, message, class: "flash-alert-#{message_type}") %>
	    <% end %>

			<%= yield %>

			<%= render 'layouts/footer' unless @omit_header_footer %>
			
		</div>
	</div>
</body>
</html>
