<!DOCTYPE html>
<html>
<head>
  <title>Baileysimms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="navbar navbar-fixed-top">
		<div class="container">
			<%= link_to "Bailey Simms", root_path, id: "logo" %>
			<nav>
				<ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'BLOG', posts_path %></li>
          <li><%= link_to 'BOOKS', ebooks_display_path %></li>
          <li><%= link_to 'ABOUT', about_path %></li>
          <li><%= link_to 'CONTACT', contact_path %></li>
          <li><%= link_to 'SIGN UP', new_user_path %></li>
				</ul>
			</nav>
		</div>
	</header>	

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
