<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Linden+Hill:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= render 'layouts/header' unless @omit_header %>

	<div>
		<% flash.each do |message_type, message| %>
    	<%= content_tag(:div, message, class: "flash-alert-#{message_type}") %>
    <% end %>
	</div>

	<%= yield %>

  <%= render 'layouts/footer' unless @omit_footer %>
</body>
</html>
